:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secodary-font: 'Raleway', sans-serif;
    /* text color */

    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #E5E5E5;

    /* bg colors */
    --light-bg-cl: #ffffff;
    --dark-bg-olor: #2F303A;
    --animation: 250ms;
}