.header-page {
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--light-bg-cl);
    border-bottom: 1px solid#ECECEC;

    @media screen and (max-width: 767px) {
        position: relative;


    }

    @media screen and (min-width: 768px) {
        align-items: baseline;
    }

    @media screen and (min-width: 1200px) {}

}

.header-page__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;

    @media screen and (max-width: 480px) {
        width: 480px;
        justify-content: space-between;

    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        align-items: baseline;
        width: 1200px;
    }
}

.mobil-button {
    display: none;

    @media screen and (max-width: 767px) {
        z-index: 100;
        display: inline-flex;
        justify-content: space-between;
        border: none;
        background-color: transparent;

        &.is-open .icon-close {
            display: block;


        }

        &.is-open .icon-menu {
            display: none;
        }
    }
}

.mobil-button .icon-close {
    display: none;
}



.menu-navigation {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 480px) {
        position: fixed;
        display: none;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 20px;
        text-align: left;

    }

    &.is-open {
        display: block;
    }

}

.menu-mobil {
    display: flex;

    @media screen and (max-width: 480px) {
        flex-direction: column;
        height: 100%;
    }
}

.header-nav {
    align-items: center;
    display: flex;
    margin-left: 88px;


    @media screen and (max-width: 480px) {
        margin-left: 0;
        align-items: flex-start;
    }

    @media screen and (max-width: 1200px) {}
}

.header-link {
    display: flex;

    @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
    }


}

.header-link__item:not(:last-child) {
    margin-right: 30px;

    @media screen and (max-width: 480px) {
        margin-left: 0;
    }

}


.header-link__studio-current {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        border-radius: 2px;
        background-color: #2196F3;

    }

    @media screen and (max-width: 480px) {}
}

.header-link__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    transition-property: color;
    transition-duration: var(--animation);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }


    @media screen and (max-width: 480px) {

        margin-bottom: 32px;
        font-size: 24px;
        line-height: calc(47/40);

    }

    @media screen and (min-width: 768px) {
        padding: 5px;
        font-size: 12px;
        line-height: calc(14/12);
        justify-content: left;

    }

    @media screen and (min-width: 1200px) {
        padding: 0;
    }
}

.header-link__contacts-namber {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    transition-property: color;
    transition-duration: var(--animation);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (max-width: 480px) {

        line-height: calc(34/40);
        font-weight: 500;
        font-size: 34px;
        letter-spacing: 0.02em;
    }

    @media screen and (min-width: 768px) {
        padding: 5px;
        font-size: 12px;
        line-height: calc(14/12);
        justify-content: left;

    }

    @media screen and (min-width: 1200px) {
        line-height: calc(16/14);
    }
}

.header-link__list {
    display: flex;
    align-items: center;

    @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 274px;
        margin-bottom: 40px;
        margin-left: 0;

    }

    @media screen and (min-width: 768px) {

        display: block;
        margin-left: 83px;
        text-align: start;
        align-items: center;
        justify-content: center;

    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: 305px;
    }
}

.header-link__icon {
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }

    @media screen and (max-width: 767px) {
        display: none;
    }

}

.mobil-soclist {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 60px;
    padding-left: 40px;
    padding-bottom: 48px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobil-soclist {
    padding: 0;
    border-right: 1px solid;

    color: var(--accent-color);

    &:nth-last-child(-n + 1) {
        border: 0;
    }
}

.mobil-socials__link {
    font-family: var(main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--accent-color);
}