.hero-page {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/Img\ \(12\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark-bg-olor);
}