.portfolio-btn-list {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
    outline-style: none;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        margin-bottom: 40px;
        justify-content: start;

    }

    @media screen and (min-width: 767px) {
        justify-content: center;
        margin-bottom: 50px
    }
}

.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    column-gap: 30px;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        align-items: center;
        margin: auto;

    }

    @media screen and (min-width: 767px) {
        flex-wrap: wrap;
        gap: 30px;
    }
}

.card {
    @media screen and (min-width: 767px) {
        flex-wrap: wrap;
        flex-basis: calc((100% - 30px)/2);
    }
}

.portfolio-text {

    padding: 20px 24px;
    border-right: solid #EEEEEE 1px;
    border-bottom: solid #EEEEEE 1px;
    border-left: solid #EEEEEE 1px;

}