.portfolio-btn-list {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
    outline-style: none;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        margin-bottom: 40px;
        justify-content: start;

    }

    @media screen and (max-width: 1200px) {
        justify-content: center;
        margin-bottom: 50px
    }
}

.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    column-gap: 30px;

    @media screen and (max-width: 480px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width:768px) {
        flex-wrap: wrap;

    }

    // @media screen and (min-width: 1200px) {
    //     flex-wrap: nowrap;
    // }
}

.card {
    display: flex;

    @media screen and (max-width: 480px) {
        flex-wrap: wrap;
    }

    @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
        width: 50%;
        margin: 0;
        flex-basis: calc((100% - 30px)/2);
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.portfolio-text {

    padding: 20px 24px;
    border-right: solid #EEEEEE 1px;
    border-bottom: solid #EEEEEE 1px;
    border-left: solid #EEEEEE 1px;

}