.team-page {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-member__title {
    display: block;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}

.team-member__list {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.team-member__container {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-member__name {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}

.team-member__item {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}