// .header-page__container {
//     display: flex;
//     margin-left: auto;
//     margin-right: auto;
//     outline: 2px solid red;
//     padding-right: 15px;
//     padding-left: 15px;
//     width: 1200px;

//     @media screen and (max-width: 768px) {
//         width: 448px;
//         justify-content: space-between;


//     }

//     @media screen and (min-width: 768px) {
//         width: 720px;
//     }

//     @media screen and (min-width: 1200px) {
//         width: 1170px;
//     }
// }

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    outline: 2px solid red;
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;

    @media screen and (min-width: 480px) {
        width: 448px;
    }

    @media screen and (min-width: 768px) {
        width: 720px;
    }

    @media screen and (min-width: 1200px) {
        width: 1170px;
    }
}

.portfolio-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    outline: 2px solid red;
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;
    background-color: #FFFFFF;

    @media screen and (min-width: 480px) {
        width: 448px;
    }

    @media screen and (min-width: 768px) {
        width: 720px;
        display: inline;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        width: 1170px;
    }
}

.footer__container {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    outline: 2px solid red;
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;

    @media screen and (max-width: 768px) {
        width: 768px;
        display: inline;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;

    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        flex-wrap: nowrap;
    }
}